doctype HTML
html
  head
    title adventure
    style
      include style.css
  body      
    div(align="center")
      img(src="https://ktane.timwi.de/HTML/img/Component/Adventure%20Game.svg" width="200px")
      h1 On The Subject of Adventure Games
      br
      form(action="/adventure_games" method="POST")
        table(width="25%")
          tr
            th(height="50") Enemy = #{enemy}
              div(id="chooseWords" align="center")
                input(type='submit', name="demon" value="Demon" class="word-box") 
                input(type='submit', name="dragon" value="Dragon" class="word-box")
                input(type='submit', name="eagle" value="Eagle" class="word-box")
                input(type='submit', name="goblin" value="Goblin" class="word-box")
                input(type='submit', name="golem" value="Golem" class="word-box")
                input(type='submit', name="troll" value="Troll"  class="word-box")
                input(type='submit', name="lizard" value="Lizard"  class="word-box")
                input(type='submit', name="wizard" value="Wizard"  class="word-box")
          tr
            th
              div(align="center") Strength: 
                input(type="text" name="strength" value=""+ box1)          
          tr
            th 
              div(align="center") Dexterity: 
                input(type="text" name="dexterity" value=""+ box2)
          tr
            th 
              div(align="center") Intelligence: 
                input(type="text" name="intelligence" value=""+ box3)
          tr
            th 
              div(align="center") Height:  
                input(type="text" name="height" value=""+ box4)
          tr
            th 
              div(align="center") Temperature: 
                input(type="text" name="temperature" value=""+ box5)
          tr
            th 
              div(align="center") Force of gravity: 
                input(type="text" name="force" value=""+ box6)
          tr
            th 
              div(align="center") Atmospheric pressure: 
                input(type="text" name="pressure" value=""+ box7)
          tr
            th(height="50") Items = #{items}
              div(id="chooseWords" align="center")
                input(type='submit', name="balloon" value="Balloon" class="word-box")
                input(type='submit', name="battery" value="Battery" class="word-box")
                input(type='submit', name="bellows" value="Bellows" class="word-box")
                input(type='submit', name="crystal_ball" value="Crystal Ball" class="word-box")
                input(type='submit', name="cheatcode" value="Cheatcode"  class="word-box")
                input(type='submit', name="feather" value="Feather" class="word-box")
                input(type='submit', name="hard_drive" value="Hard Drive"  class="word-box")
                input(type='submit', name="lamp" value="Lamp"  class="word-box")
          tr
            th(height="50") 
              div(id="chooseWords" align="center")
                input(type='submit', name="moonstone" value="Moonstone"  class="word-box")
                input(type='submit', name="potion" value="Potion" class="word-box")
                input(type='submit', name="small_dog" value="Small Dog" class="word-box")
                input(type='submit', name="stepladder" value="Stepladder" class="word-box")
                input(type='submit', name="sunstone" value="Sunstone" class="word-box")
                input(type='submit', name="symbol" value="Symbol" class="word-box")
                input(type='submit', name="ticket" value="Ticket"  class="word-box")
                input(type='submit', name="trophy" value="Trophy"  class="word-box")
          tr
            th(height="50") Weapons = #{weapons}
              div(id="chooseWords" align="center")
                input(type='submit', name="broadsword" value="Broadsword"  class="word-box")
                input(type='submit', name="caber" value="Caber" class="word-box")
                input(type='submit', name="nasty_knife" value="Nasty Knife" class="word-box")
                input(type='submit', name="longbow" value="Longbow" class="word-box")
                input(type='submit', name="magic_orb" value="Magic Orb" class="word-box")
                input(type='submit', name="grimoire" value="Grimoire" class="word-box")
          tr
            th 
              div(id="" align="center")
                button(type='submit', name="submit") Enter
          tr
            th 
              div(id="" align="center")
                button(type='submit', name="reset") Reset
          tr
            td(height="50" )
              div(id="outField" align="center") Use items: #{itemUse} Use weapons: #{weaponUse}
      br
      br
      a(href="http://localhost:3000")
        img(alt="wires" src="https://thumbs.dreamstime.com/b/solved-rubber-stamp-grunge-design-dust-scratches-effects-can-be-easily-removed-clean-crisp-look-color-easily-changed-83570900.jpg" height="150px")
