doctype HTML
html
  head
    title mazes
    style
      include style.css
  body      
    div(align="center")
      img(src="http://www.bombmanual.com/web/img/module-icons/MazeComponent.svg" width="200px")
      h1 On The Subject of Mazes
      h2 #{title}
      br
      br
      form(action="/maze" method="POST")
        table(width="25%")
          tr
            th Maze Identifier
              div(align="center")
                input(type="text" name="idInput" value=idInput)
          tr
            th Start Position
              div(align="center")
                input(type="text" name="startInput" value=startInput)
          tr
            th End Position
              div(align="center")
                input(type="text" name="endInput" value=endInput)
          tr 
            th
              div(align="center")
                button(type='submit', name="submit" value="") enter
          tr
            th(height="50")
              div(id="" align="center")
                table(id="mazeGrid" cellspacing="0")  
                  tr
                    td(class="maze-grid-table-0" )
                    for l in ['A', 'B', 'C', 'D', 'E', 'F']
                      td(class="maze-grid-table-0") #{l}
                  each r, i in rm[1]
                    tr()
                      td(class="maze-grid-table-0") #{i+1}
                        if rm[0]
                          each f, i2 in r
                            if rm[2][0][1] == i && rm[2][0][0] == i2
                              td(style='background-color: green;'+ rF(f))
                            else if rm[2][1][1] == i && rm[2][1][0] == i2
                              td(style='background-color: red;'+ rF(f))
                            else
                              td(style=rF(f))
          tr
            td(height="50" )
              div(id="outField" align="center") #{output}
      br
      br
      script(src="scripts/mazerender.js" mazeid=""+mazeid)
      a(href="http://localhost:3000")
        img(alt="wires" src="https://thumbs.dreamstime.com/b/solved-rubber-stamp-grunge-design-dust-scratches-effects-can-be-easily-removed-clean-crisp-look-color-easily-changed-83570900.jpg" height="150px")
